.registerbody{
      background-image: url(../images/loginpanel.jpg); 
      background-position: inherit; 
      background-repeat: no-repeat; 
      background-size: cover;
}

#id{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 15px 0px 15px 0px;
}

#card{
    display: flex; 
    justify-content: center; 
    margin: 10% auto; 
    width: 250px; 
    min-width: 30%;
}

#body-card{
    background: linear-gradient(180deg, #bece30b7 5%, #0c727e 90%);


}

#card-title{
    font-size: 30px; 
    text-align: center;
    font-weight: 500;
}

.help-block{
    font-style: italic;
    font-size: 12px;

}

.control-label{
    margin-top: 10px; 
    font-weight: 525;
}

.control-group{
    margin-top: 10px; 
    
}

#btn-enviar{
    margin-top: 10px; 
    width: 10rem;
    text-align: center;
}

#btn-enviar-div{
 text-align: center;
}

#newuser{
    background-image: url(../images/account_circle_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5vw;
    text-indent: 2em;
    
    
}

#newpassword{
    
    background-image: url(../images/vpn_key_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5vw;
    text-indent: 2.0em;
}

#new-email{

    background-image: url(../images/email_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5vw;
    text-indent: 2.0em;

 


}

#repeatnewpassword{
    background-image: url(../images/vpn_key_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5vw;
    text-indent: 2.0em;

}

#btn-enviar{

    background-image: url(../images/how_to_reg_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5vw;
    text-align: center;
    
}